html,
body,
#__next {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

/* width */
.fancyScroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.fancyScroll::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
.fancyScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
.fancyScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px;
}

.box {
  overflow: hidden;
}

.hid-box {
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transform: translateY(80%);
}

.hid-box.move {
  transform: translateY(0);
}
