.previousButton {
  background-color: rgb(27, 68, 86);
  color: white;
  font-weight: bold;

  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.previousButton:hover {
  background-color: rgb(55, 109, 133) !important;
}

.nextButton:hover {
  background-color: rgb(55, 109, 133) !important;
}

.nextButton {
  background-color: rgb(5, 56, 77) !important;
  color: white;
  border-color: white !important;
  font-weight: bold;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.buttonWrapperClassChanges {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.wrapper {
  width: 90vw;
  padding: 0 !important;
  justify-content: center;
}

.progressClassChanges {
  width: 90vw;
  color: teal;
}

.progressClassChanges:active {
  color: red;
}

.stepClassChanges {
  /* background-color: rgb(86, 161, 154) !important; */
  font-weight: bold;
}
